.header-image{
    background: url('../img/header.jpg');
    background-size: cover;
    height: 85%;
    width: 100%;
    position: relative;
}

.top-mg{
    margin-top: 67px;
}
.callout.secondary{
    opacity: 0.92;
}
#content-home{
    margin-top: -100px;
    background-color: white;
    position: relative;
}
.result-table{
margin-top: 15px;
}
#report { border-collapse:collapse;}
#report img { float:right;}
#report ul { margin:10px 0 10px 17px; padding:0px;}
#report td { background:#f1f1f1 none repeat-x scroll center left; color:#000; padding:7px 15px;}
#report tr.odd td { background:#fff url(row_bkg.png) repeat-x scroll center left; cursor:pointer;border-bottom: solid 1px #f1f1f1;}
#report tr:last-child{border-bottom: none;}
#report div.arrow { background:transparent url(arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
#report div.up { background-position:0px 0px;}

/* Moema */
.tombol {
    float: left;
    min-width: 150px;
    max-width: 250px;
    margin: 1em;
    padding: 1em 2em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.tombol:focus {
    outline: none;
}
.tombol > span {
    vertical-align: middle;
}
.button--moema {
    padding: 1.5em 0;
    border-radius: 50px;
    background: #f7913d;
    color: #fff;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}
.button--moema.button--inverted {
    background: #ff7c26;
    color: #ff5300;
}
.button--moema::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    background: inherit;
    border-radius: 50px;
    z-index: -1;
    opacity: 0.4;
    -webkit-transform: scale3d(0.8, 0.5, 1);
    transform: scale3d(0.8, 0.5, 1);
}
.button--moema:hover {
    -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    color: #fff;
    background-color: #ff7c26;
    -webkit-animation: anim-moema-1 0.3s forwards;
    animation: anim-moema-1 0.3s forwards;
}
.button--moema.button--inverted:hover {
    color: #ECEFF1;
    background-color: #ff7c26;
}
.button--moema:hover::before {
    -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
    animation: anim-moema-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }
    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }
    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@-webkit-keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
#payment-menu{border: none;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);}
.form-check{margin-top: 30px;margin-bottom: 15px;}

.menu.expanded > li:first-child {
    border-right: solid 1px #f1f1f1;
}
.custom-top-bar{padding: 0.5rem;background: radial-gradient(circle at 1.98% 3%,#56B4D3,transparent 100%),radial-gradient(circle at 98.02% 98%,#00c775,transparent 100%),radial-gradient(circle at 50% 50%,#05ad67,#05ad67 100%);}
.custom-top-bar li a{color: #fff;}
.custom-top-bar .menu > li:not(.menu-text) > a{padding: 0.3rem 1rem}
.custom-top-bar > ul > li{border-right: solid 1px #fff;}
.custom-top-bar > ul > li:last-child{border-right: solid 1px transparent;}

footer{background: #333333;color: #d4d4d4;}
.main-footer{padding: 2rem 0 1rem 0;}
.sub-footer{background: #222;color: #d4d4d4;padding: 1rem 0;}
.footer-link {
  list-style-type: none;
}
.main-footer p, .main-footer a {
  color: #d4d4d4;
}
.main-footer ul{margin-left: 0;}
.main-footer h4{border-bottom: 1px dotted #777;padding-bottom: 10px;}

